@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Raleway", sans-serif;
    color: white;
    line-height: 1.5;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: black;
}

header{
    width: 100vw;
    max-width: 1440px;
    height: 605px;
    border-bottom: 1px solid rgba(51, 168, 219, 1);
    display: flex;
    justify-content: center;
}

header.banner{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(49, 168, 221,0.30), rgba(0,0,0,0.3)), url('./images/banner.png');
    background-color: black;
    background-repeat: no-repeat;
             
}

.banner-content{
    width: 510px;
    height: 393px;   
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
     
}

.logo img{
    width: 268px;
    height: 268px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
}

h1{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 0;
    color: transparent;
    background-image: linear-gradient(to bottom, #33A8DB, #1472B7);
    background-clip: text;
    text-transform: uppercase;   
}


p{
    text-align: center;
    font-weight: 350;
    font-size: 20px;
    letter-spacing: 0;  
}



div button{
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 2px solid;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 1;
    color: rgba(49, 168, 221, 1);
    width: 330px;
    padding: 19px 91px 19px 91px;
    font-weight: 900;
    text-align: center;
    font-size: 16px;
    letter-spacing: 3px;
    gap: 31px;
    text-transform: uppercase;
    margin-left: 18%;
    margin-top: 6%;
    white-space: nowrap;
    
}


#course-content{
    width: 100vw;
    max-width: 1440px;
    text-align: center;
    margin: 150px auto auto;

    
     
}

#course-content h2{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 8px;
    margin-bottom: 38px;
    color: transparent;
    background-image: linear-gradient(to bottom, #33A8DB, #1472B7);
    background-clip: text;
    text-transform: uppercase;
}

#course-content p{
    width: 60%;
    min-width: none;
    margin: auto auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    
}

.modules-list{
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;


    
}


.module{
    width: 50vw;
    display: block;
    margin: auto auto;
    color: white;
}

div .module{
    width: 24vw;
    padding: 10px;
    background-color: #252525;
    border: 1px solid #33A8DB;
    border-radius: 37px 37px;
    margin-top: 24px;

    
}

.module span{
    text-align: left;
    text-transform: capitalize;
    color:#33A8DB;
    
}

#transform-world{
    width: 100vw;
    max-width: 1440px;
    border: 1px solid #33A8DB;
    margin: 100px auto auto;
    background-image: url('./images/woman-code.png');
    background-size: cover;
    background-position: center 42%;
    background-repeat: no-repeat;
    height: 40vh;

}

#transform-world p{
    width: 100vw;
    max-width: 200px;
    font-weight: 900;
    top: 40px;
    margin-top: 8%;
    margin-left: 17%;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0;
    text-align: left;
    display: flex;
    text-shadow: 3px 3px #33A8DB;
    text-transform: lowercase;
}


#professional-challenges{
    width: 50vw;
    max-width: 1440px;
    text-align: center;
    margin: auto auto;
}

#professional-challenges h2{
    margin: 100px auto 40px auto;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 8px;
    color: #33A8DB;
    background-clip: text;
    text-transform: uppercase;
}


